gitignore# Ignore everything
*
__pychache__

# Whitelist .gitignore
!.gitignore

# Whitelist directories (must come before their contents!)
!mnt/
!mnt/xbox/
!templates_json/
!templates_sql/
!utils/

# Now whitelist files in root
!json_maker.py
!flask_for_json.py
!flask_for_sql.py
!gp.csv
!models.py
!mnt/xbox/basic_data.csv
!requirements.txt

!mnt/xbox/**
!mnt/xbox/store_meta/**
!templates_json/**
!templates_sql/**
!utils/*.py

!example_analysis.ipynb